/* SPINNER */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: none; /* Initially hide the loading screen */
    z-index: 9999; /* Ensure it's above other content */
}
.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px; /* Center the spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#settings-box {
    margin: 0 auto; /* Center the box horizontally */
    max-width: 600px; /* Set the maximum width of the box */
    padding: 20px; /* Add padding */
    border: 2px solid #ccc; /* Add border */
    border-radius: 10px; /* Add border radius for rounded corners */
}