@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body {
  font-family: "Work Sans", sans-serif;
}

/* KAYLEE'S NOTE: color #f08d49 */

/* 
========================
      BUTTON ONE
========================
*/

.custom-btn {
  /* width: 180px;
  height: 60px; */
  cursor: pointer;
  background: rgba(90, 103, 123, 0.1);
  /* border: 1px solid #91C9FF; */
  outline: none;
  transition: 0.5s ease-in-out;
  font-size: 20px;
  color:rgb(7, 30, 99);
}

svg {
  position: absolute;
  left: 100;
  top: 0;
  fill: none;
  stroke: #571b1b;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.custom-btn:hover {
  transition: 1s ease-in-out;
  background: #91C9FF;
}

.custom-btn:hover svg {
  stroke-dashoffset: -480;
}

.custom-btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

/* 
========================
      BUTTON TWO
========================
*/

.btn-two {
    color: #5389bf;
    transition: all 0.5s;
    position: relative;
}
.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(90, 103, 123, 0.1);
    transition: all 0.3s;
}
.btn-two:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid #91C9FF;
    transform: scale(1.2,1.2);
}
.btn-two:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}

tr{
  border-width: 1;
}