@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body{
    max-height: 100%;
    font-family: "Work Sans", sans-serif;
}

input{
    font-family: "Work Sans", sans-serif; 
}

ul {
    list-style: none;
}

#settings-btn{
    margin-left: 1ex;
}

#settings-box {
    max-width: 15vw; 
    margin: 1ex 0 1ex 1ex;
    background-color: aliceblue;
    border-radius: 1ex;
    transition: .15s !important;
}

#code-submit-box{
    max-height: 85%;
    max-width: 100%;
    margin: 1ex 2ex;
}

#code-box{
    height: 100%;
}

.form-row{
    height: 100%;
}

#submit-div{
    margin: 1vh;
}

/* SPINNER */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: none; /* Initially hide the loading screen */
    z-index: 9999; /* Ensure it's above other content */
}
.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px; /* Center the spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
